doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/select-theme-default.css')
    link(rel='stylesheet', href='/stylesheets/select-theme-dark.css')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    script(src="/javascripts/select.min.js").
    script(src="/javascripts/wow.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js").

  body
    block content